{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.name }}</h2>

<ul>
	<li>Description : {{ listing.description }}</li>
	<li>Sold : {{ listing.active|yesno }}</li>
	<li>Année : {{ listing.year }}</li>
	<li>Groupe : {{ listing.band }}</li>
</ul>

<li><a href="{% url 'listing-update' listing.id %}">Modifier cette annonce</a></li>

<li><a href="{% url 'listing-delete' listing.id %}">Supprimer cette annonce</a></li>

<li><a href="{% url 'listing-list' %}">Retour à la liste</a></li>

{% endblock %}